@import 'headers_titles.css';

*{
    font-family: 'Open Sans', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size:16px;
    font-weight:normal;
}

header{
    color:slategrey;
    font-size:18px;
    font-style:italic;
}

h1{
    font-size:24px;
    font-weight: normal;
    color:darkolivegreen;
    justify-content: left;
    margin-left:24px;
}

h2{
    font-size:20px;
    font-weight: bold;
    color:olive;
    margin-left:24px;
    justify-content: left;
    padding: 10px;
}

body{
    margin-top:10px;
    width:100%;
}

figure{
    text-indent:0%;
    align-items:left;
    justify-content: left;
}

img{
    width:100%;
    height: 100%;
}

blockquote p {
    padding:0;
    margin:0;
}

footer{
    font-family: 'Open Sans', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    vertical-align:middle;
    background-color:steelblue;
    color:white;
    padding:10px;
    margin-top:20px;
}

.container_0{
    display: grid;
    margin:auto;
    grid-template-rows: 65px 1fr 1fr;
    grid-template-columns: 100%;
    background-size: 100%;
    align-items: middle;
    width: 100%;
}

.container_1{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    background-color:white;
    height:100%;
    padding: 10px;
    margin-bottom:10px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top:5px;
    line-break:normal;
}

.head_line{
    background-color:steelblue;
    color:white;
    font-size: 24px;
    font-weight: normal;
    padding:5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.scene{
    display:flex;
    flex-direction: column;
    align-items: left;
    width:100%;
}

.footer_text{
    color: black;
    font-size: 12px;
    padding:30px;
}

#author{
    display:grid;
    grid-template-columns: 120px 80px 240px;
    grid-gap: 5px;
    font-style:italic;
    color:white;
    align-items: left;
    vertical-align: middle;
    text-align:left;
    padding:10px;
    background-color:darkkhaki;
}

#author_box{
    color:white;
    font-size: 16px;
    justify-content: stretch;
}

#author_img{
    width: 100px;
}

#images{
    display:grid;
    grid-template-rows: 35% 1fr;
    grid-template-columns:100%;
    grid-gap:10px;
}

#img_cap{
    color:olive;
    margin-top:5px;
    margin-bottom: 20px;
}

#social_icon{
    margin-top:10px;
    color:white;
    font-size:24px;
    padding:5px;
    margin-bottom:10px;
}



@media(min-width:980px) {

    footer{
        font-size:24px;
        height:80px;
        margin-bottom:0px;
        padding: 10px;
    }

    .container_1{
        grid-template-rows: 1fr;
        grid-template-columns: 100%;
    }

    .head_line{
        background-color:lightslategray;
        color:white;
        font-size: 24px;
        font-weight: normal;
        padding:24px;
        margin-bottom:0px;
        text-align:center;
    }

    .box{
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-left: 24px;
        line-break:normal;
    }
    

    #author{
        grid-template-columns: 160px 100px 240px;  
        font-size:24px;     
    }

    #author_img{
        width: 80px;
    }

    #images{
        display:grid;
        grid-template-columns: 35% 1fr;
        grid-template-rows:100%;
        grid-gap:10px;
        margin-bottom: 10px;
    }

    #img_cap{
        color:olive;
        margin-bottom:0%;
    }
    
}
